img {
    max-width: 100%;
    height: auto;
}

* {
    font-family: "Poppins", sans-serif;
}

.as-primary {
    color: #1c2880;
}

.as-primary-bg {
    background: #1c2880;
}

.as-brand-color-fb {
    color: #ade4fd;
}

.as-brand-color-linkedin {
    color: #45fbfb;
}

.as-brand-color-tweeter {
    color: #1da0f0;
}

.as-brand-color-youtube {
    color: #cb201f;
}

.as-light-primary {
    color: #3878df;
}

.nav-link {
    transition: 0.5s;
}

.hover-bg:hover {
    background-color: #1c2880;
    color: #fff;
}

.as-translate {
    transition: 0.5s;
}

.as-translate:hover {
    background-color: #1da0f0;
    color: #111535;
    transform: translateY(-10px);
}